*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

# Don't commit stuff from public
public
public/

# Let people use their own certs, don't commit
ssl
ssl/

.DS_Store
